body {
    background-color: #472772;
    color: white;
    font-family:  "New Amsterdam", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #bb0e56;
    color: rgb(198, 218, 18);
    font-family: "New Amsterdam", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}
